* {
  margin: 0;
  padding: 0;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

@media only screen and (max-width: 68.75em) {
  html {
    font-size: 50%;
  }
}



.App {
  max-width: 120rem;
  margin: 0 auto;
  background-color: var(--color-grey-light-1);
  box-shadow: var(--shadow-dark);
  min-height: 60rem;
  text-align: center;
}
.image-container {
  position: relative;
}

.image {
  width: 80%;
  height: 80%;
}

.search-box {
  display: flex;
  width: 25%;
  height: 3rem;
  color: white;
  text-align: right;
  margin-left: 10%;
  font-size: 2rem;

}

.search-box>input:focus{
  width : 300px
}

.search-box > input {
  width : 150px;
  transition: width  .3s ;
}

.tag-icon {
  width: 2rem;
  height: 2rem;
}

.tag-icon > i {
  width: 2rem;
  height: 2rem;
}

.sofa-icon {
  position: absolute;
  top: 55%;
  right: 75%;
  cursor: pointer;
}

.table-icon {
  position: absolute;
  top: 58%;
  right: 55%;
  cursor: pointer;
}

.lamp-icon {
  position: absolute;
  top: 44%;
  right: 39%;
}

.chair-icon {
  position: absolute;
  top: 50%;
  right: 25%;
}


.shadow {
  box-shadow: 2px 5px 7px #000;
}


.active-sofa {
  clip-path: polygon(0 7%, 40% 7%, 50% 0, 60% 7%, 100% 7%, 100% 18%, 100% 85%, 100% 100%, 85% 100%, 15% 100%, 0 100%, 0% 85%);
  position: absolute;
  width: 100px;
  height: 180px;
  background-color:white;
  top: 62%;
  right: 72%;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}



.image-small-sofa {
  text-align: center;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 2px;
  width: 80%;
  height: 35%;
}



.active-table {
  clip-path: polygon(0 7%, 40% 7%, 50% 0, 60% 7%, 100% 7%, 100% 18%, 100% 85%, 100% 100%, 85% 100%, 15% 100%, 0 100%, 0% 85%);
  position: absolute;
  width: 100px;
  height: 180px;
  background-color: white;
  top: 65%;
  right: 52%;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}



.image-small-table {
  text-align: center;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 2px;
  width: 80%;
  height: 35%;
}

.active-lamp {
  clip-path: polygon(0 7%, 40% 7%, 50% 0, 60% 7%, 100% 7%, 100% 18%, 100% 85%, 100% 100%, 85% 100%, 15% 100%, 0 100%, 0% 85%);
  position: absolute;
  width: 100px;
  height: 180px;
  background-color: white;
  top: 55%;
  right: 36%;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}



.image-small-lamp {
  text-align: center;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 2px;
  width: 80%;
  height: 35%;
}

.active-chair {
  clip-path: polygon(0 7%, 40% 7%, 50% 0, 60% 7%, 100% 7%, 100% 18%, 100% 85%, 100% 100%, 85% 100%, 15% 100%, 0 100%, 0% 85%);
  position: absolute;
  width: 100px;
  height: 180px;
  background-color: white;
  top: 56%;
  right: 22%;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}



.image-small-chair {
  text-align: center;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 2px;
  width: 80%;
  height: 35%;
}


.small-icons {
  display: flex;
  justify-content: space-around;
  margin-bottom: 1rem ;
}

p {
  font-size: 20px;
}


@media only screen and (max-width : 1024px) {
  .active-sofa {
    position: absolute;
    top: 60%;
    right: 69%;
    width: 11%;
  }

  .image-small-sofa {
      text-align: center;
      margin: 0 auto;
      margin-top: 20px;
      margin-bottom: 2px;
      width: 80%;
      height: 35%;
  }


    .active-table {
      position: absolute;
      top: 63%;
      right: 50%;
      width: 11%;
    }

    .image-small-table {
      text-align: center;
      margin: 0 auto;
      margin-top: 20px;
      margin-bottom: 2px;
      width: 80%;
      height: 35%;
    }

      .active-lamp {
        position: absolute;
        top: 52%;
        right: 35%;
        width: 11%;
      }

      .image-small-lamp {
        text-align: center;
        margin: 0 auto;
        margin-top: 20px;
        margin-bottom: 2px;
        width: 80%;
        height: 35%;
      }

        .active-chair {
          position: absolute;
          top: 58%;
          right: 20%;
          width: 11%;
        }

        .image-small-chair {
          text-align: center;
          margin: 0 auto;
          margin-top: 20px;
          margin-bottom: 2px;
          width: 80%;
          height: 35%;
        }
  
}

@media only screen and (max-width : 864px) {
  .active-sofa {
    position: absolute;
    top: 60%;
    right: 67%;
    width: 18%;
    height: 33%;
    font-size: 0.75rem;
  }

  h2 {
    padding: 3px;
  }

  .image-small-sofa {
    text-align: center;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 2px;
    width: 80%;
    height: 35%;
    padding: 0 5px;
  }

    .active-table {
      position: absolute;
      top: 65%;
      right: 49%;
      width: 18%;
      height: 33%;
      font-size: 0.75rem;
    }

    h2 {
      padding: 3px;
    }

    .image-small-table {
      text-align: center;
      margin: 0 auto;
      margin-top: 20px;
      margin-bottom: 2px;
      width: 80%;
      height: 35%;
      padding: 0 5px;
    }

      .active-lamp {
        position: absolute;
        top: 55%;
        right: 31%;
        width: 18%;
        height: 33%;
        font-size: 0.75rem;
      }

      h2 {
        padding: 3px;
      }

      .image-small-lamp {
        text-align: center;
        margin: 0 auto;
        margin-top: 20px;
        margin-bottom: 2px;
        width: 80%;
        height: 35%;
        padding: 0 5px;
      }

        .active-chair {
          position: absolute;
          top: 60%;
          right: 13%;
          width: 18%;
          height: 33%;
          font-size: 0.75rem;
        }

        h2 {
          padding: 3px;
        }

        .image-small-chair {
          text-align: center;
          margin: 0 auto;
          margin-top: 20px;
          margin-bottom: 2px;
          width: 80%;
          height: 35%;
          padding: 0 5px;
        }
}

@media only screen and (max-width : 680px) {
  .active-sofa {
    clip-path: polygon(0% 0%, 100% 0%, 100% 94%, 60% 95%, 50% 100%, 40% 94%, 0 94%);
    position: absolute;
    top: 11%;
    right: 69%;
    width: 11%;
    height: 40%;
    padding-top: 0;
    justify-content: space-around;
  }

  h2 {
    font-size: 0.75rem;
  }

  p {
    font-size: 1.25rem;
  }

  .image-small-sofa {
    text-align: center;
    margin: 0 auto;
    width: 80%;
    height: 35%;
  }

    .active-table {
      clip-path: polygon(0% 0%, 100% 0%, 100% 94%, 60% 95%, 50% 100%, 40% 94%, 0 94%);
      position: absolute;
      top: 11%;
      right: 50%;
      width: 11%;
      height: 40%;
      padding-top: 0;
      justify-content: space-around;
    }

    h2 {
      font-size: 0.75rem;
    }

    p {
      font-size: 1.25rem;
    }

    .image-small-table {
      text-align: center;
      margin: 0 auto;
      width: 80%;
      height: 35%;
    }

      .active-lamp {
        clip-path: polygon(0% 0%, 100% 0%, 100% 94%, 60% 95%, 50% 100%, 40% 94%, 0 94%);
        position: absolute;
        top: 2%;
        right: 35%;
        width: 11%;
        height: 40%;
        padding-top: 0;
        justify-content: space-around;
      }

      h2 {
        font-size: 0.75rem;
      }

      p {
        font-size: 1.25rem;
      }

      .image-small-lamp {
        text-align: center;
        margin: 0 auto;
        width: 80%;
        height: 35%;
      }

        .active-chair {
          clip-path: polygon(0% 0%, 100% 0%, 100% 94%, 60% 95%, 50% 100%, 40% 94%, 0 94%);
          position: absolute;
          top: 11%;
          right: 19%;
          width: 11%;
          height: 40%;
          padding-top: 0;
          justify-content: space-around;
        }

        h2 {
          font-size: 0.75rem;
        }

        p {
          font-size: 1.25rem;
        }

        .image-small-chair {
          text-align: center;
          margin: 0 auto;
          width: 80%;
          height: 35%;
        }

}